* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.sections.nav-sections {
    display: none;
}

// VARIABLES
@screen-size-md: 768px;
@screen-size-lg: 992px;

// MIXINS

.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
    -o-transform: 		 @string;
    transform:           @string;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
    -o-transition:      @transition; 
    transition:         @transition;
}

.bg-white {
    background-color: #fff;
    box-shadow: 0 1px 2px #c6c6c6
}


body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background: url('../images/bg.png') repeat;
}

.header.content,
.page-main {
    margin: 0 auto;
    max-width: 1090px;
    position: relative;
}


// HEADER

.panel.wrapper {
    display: none;
}

.page-header {
    background-color: #252525;
    padding: 10px 0;
    position: relative;
    margin-bottom: 20px;

    @media (min-width: @screen-size-md) {
        margin-bottom: 40px;
    }
}

// TOOGLE NAV

.action.nav-toggle {
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -14px;

    &:before,
    &:after {
        content: '';
    }

    &:before,
    &:after,
    & >span {
        display: block;
        width: 28px;
        background-color: #fff;
        height: 4px;
        margin: 4px 0;
        border-radius: 2px;
    }

    .nav-open & {
        & >span {
            display: none;
        }

        &:before {
            .transform(rotate(-47deg));
            margin-top: 9px;
        }

        &:after {
            .transform(rotate(46deg));
            margin-top: -8px;
        }
    }

    @media (min-width: @screen-size-md) {
        display: none;
    }
}

.search-toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -14px;

    svg {
        width: 28px;
        height: 28px;
        fill: #646161;
    }
}


// LOGO

.logo {
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
        max-width: 160px;
    }

    @media (min-width: @screen-size-md) {
        display: inline-block;
        vertical-align: middle;

        img {
            max-width: 100px;
        }
    }
}

// SEARCH

.block-search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 15px;
    z-index: -1;

    &.active {
        display: block;
        z-index: 100;
    }

    .block-title {
        margin: 15px auto 30px;
        font-weight: 300;
        font-size: 48px;
        max-width: 500px;;
    }

    .label {
        margin-bottom: 5px;
    }

    .block-content {
        margin: 0 auto;
        max-width: 500px;;
    }
}

.input-text {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.action.search {
    margin-top: 5px;
    background-color: #999;
    color: #fff;
    padding: 8px 14px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.close-search {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    background: transparent;

    svg {
        width: 30px;
        height: 30px;
    }
}

// MENU CONTAINER

.nav-container {
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 80%;

    .transform(translateX(100%));
    .transition(200ms);

    .nav-open & {
        .transform(translateX(0));
    }

    @media (min-width: @screen-size-md) {
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        width: auto;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        .transform(translateX(0));
        margin-left: 100px;
    }

    @media (min-width: @screen-size-lg) {
        margin-left: 150px;
    }
}

.menu-items {
    a {
        text-decoration: none;
    }
}

// MENU ITEMS

.menu-item {
    list-style: none;

    @media (min-width: @screen-size-md) {
        display: inline-block;
    }
}

// MENU LINK

.menu-link {
    display: block;
    color: #363636;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    @media (min-width: @screen-size-md) {
        border: 0;
        color: #c2c2c2;
        font-size: 16px;
        padding: 5px 10px 10px;

        &:hover {
            color: #fff;
        }
    }
}

.menu-back {
    display: block;
    color: #363636;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;

    @media (min-width: @screen-size-md) {
        display: none;
    }
}

// SUBMENU

.submenu {
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    .transform(translateX(100%));
    .transition(200ms);

    &.active {
        .transform(translateX(0));
    }

    @media (min-width: @screen-size-md) {
        display: none;
        position: absolute;
        top: 99%;
        height: auto;
        bottom: auto;
        width: 200px;
        .transform(translateX(0));
        box-shadow: 0 2px 2px rgba(0, 0, 0, .15);

        &.lvl2 {
            top: 0;
            left: 100%;
        }

        .menu-link {
            color: #363636;
            padding-top: 10px;
        }

        .menu-item {
            display: block;
            width: 100%;
        }
    }
}

.has-submenu {
    > a {
        &:after {
            content: '';
            display: block;
            float: right;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 10px;
            border-color: transparent transparent transparent #363636;
            margin-top: 5px;
        }

        @media (min-width: @screen-size-md) {
            &:after {
                border-width: 5px 5px 0 5px;;
                border-color: #c2c2c2 transparent transparent transparent ;
                margin-top: 9px;
                margin-left: 5px;
            }

            .submenu & {
                &:after {
                    border-width: 5px 0 5px 10px;
                    border-color: transparent transparent transparent #c2c2c2;
                    margin-left: 4px;
                }
            }
        }
    }

    @media (min-width: @screen-size-md) {
        &:hover {
            > .submenu {
                display: block;
            }
        }
    }
}

// GRID CONTENT

.columns {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.column.main {
    @media (min-width: @screen-size-md) {
        float: left;
        width: 70%;
        padding-right: 20px;
    }
}

.sidebar {
    @media (min-width: @screen-size-md) {
        float: left;
        width: 30%;
        padding-left: 20px;
    }
}

// POSTS

.post {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    color: #444444;

    img {
        max-width: 100%;
    }

    a {
        color: #a8281a;
        text-decoration: none;
    }
}

.post-header {
    h3 {
        font-size: 28px;
        line-height: 1.4;
        margin-bottom: 10px;
    }
}

.by {
    margin-bottom: 20px;
}

.post-footer {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px 0 0;
    overflow: hidden;
}

.post-content {
    p {
        line-height: 1.8;
        margin-top: 20px;
        font-size: 15px;
    }
}

.categories {
    margin-bottom: 10px;

    @media (min-width: @screen-size-md) {
        margin-bottom: 0;
        float: left;
    }
}

.continue-reading {
    @media (min-width: @screen-size-md) {
        float: right;
    }
}


// WIDGET

.widget {
    margin-bottom: 20px;
}

// WIDGET SOCIAL

.widget-social {
    padding: 20px;

    h2 {
        margin-bottom: 10px;
        font-size: 22px;
        color: #444444;
    }

    a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 5px;

        &.twitter { background-color: #00b6eb }
        &.facebook { background-color: #265d99 }
        &.pinterest { background-color: #d2003a }
        &.google { background-color: #3e3e3e  }
        &.rss { background-color: #ff8e11 }
    }

    svg {
        fill: #fff;
        width: 17px;
        height: 17px;
        margin-top: 11px;
        margin-left: 11px;
    }
}